body{
    background-image: linear-gradient(to top, #22577A, #38A3A5, #57CC99, #80ED99, #C7F9CC);
    background-attachment: fixed;
}

main h1, h2, h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: gray;
}

nav ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}

.seta{
    position: absolute;
    padding: 10px;
    box-shadow: 2px -2px 0 1px gray inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
}

a{
    text-decoration: none;
}

main p{
    text-indent: 4rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

main form label{
    color: rgb(250, 250, 250);
    font-size: 1.2rem;
}

.form{
    margin: 1rem;
    padding: 1rem;
    border: 4px dashed rgb(0, 0, 0);
    background-color: rgb(189, 172, 20);
    border-radius: 1.5rem;

    /* Centralizando a div (Mais ou menos) */
 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;

}