body{
    background-image: linear-gradient(to top, #22577A, #38A3A5, #57CC99, #80ED99, #C7F9CC);
    background-attachment: fixed;
}

main h1, h2, h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: gray;
}

main p{
    text-indent: 4rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

nav ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}

.seta{
    position: absolute;
    padding: 10px;
    box-shadow: 2px -2px 0 1px gray inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
}

a{
    text-decoration: none;
}

a:visited{
    color: gray;
}

a:hover{
    color: red;
}

:root{
    font-size: 100%;
}

*{
    box-sizing: border-box;
}

.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 15rem;
    
    /* 
    Podemos utilizar esse exemplo abaixo, quando ter muitas grids
    grid-template-columns: repeat(3, 1fr); 
    
    */
    
    border: 2px solid #838181;
    border-radius: 5px;
    background-color: #fff4e6;
}

.box{
    padding: 1rem;
    margin: 0.5rem;
    border: 0.5rem solid rgb(7, 56, 163);
    color: rgb(7, 56, 163);
    border-radius: 1rem;
    text-align: center;
    font-size: 3rem;
}